.appbar-content {
  width: 100vw; /* this is causing scroll */
  height: 100px;
  padding: 60px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appbar-content-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-container {
  position: relative;
  display: flex;
  align-items: center;
}

.action-container input::placeholder {
  color: rgb(204, 200, 200);
}

.notification-new {
  height: 6px;
  width: 6px;
  background-color: #d175b6;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 14px;
}

.profile-pic-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 3px solid #d175b6;
  border-radius: 50%;
}

.profile-pic {
  width: 80px;
  height: 80px;
  margin-top: -40%;
  margin-left: -55%;
}

.welcome-text {
  display: flex;
  margin-left: -3px;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
}

.welcome-text span {
  font-weight: 300;
  color: #00eec5;
  padding-left: 2px;
}

.welcome-text p {
  font-weight: 300;
}
