.border-with-padding {
  border: 1px solid #d175b6;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.1);
}

.border-with-padding span {
  font-weight: 500;
}

.event-details-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.event-time {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
}

.event-details-header-hide {
  display: none;
  font-weight: 400;
  font-size: 24px;
}

.event-details-header-hide span {
  font-weight: 300;
  font-size: 20px;
}

@media only screen and (min-width: 500px) {
  .event-details-header-hide {
    display: block;
  }
}
