.event-table-page-container {
  /* margin: 20px 0px 10px 20px; */
  border: 2px solid #d175b6;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px #d175b633;
  height: 100%;
}

@media only screen and (min-width: 500px) {
  .event-table-page-container {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right: 2px solid #d175b6;
  }
}
