.event-table {
  white-space: nowrap;
  border-spacing: 0px;
  width: 1333px;
}

.scroll-table {
  overflow-x: auto;
}

/* .scroll-table::-webkit-scrollbar {
  padding-top: 10px;
  height: 6px;
}

.scroll-table::-webkit-scrollbar-track {
  background-color: rgb(168, 167, 167);
  border-radius: 10px;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
} */

.scroll-table .event-table tbody td,
th {
  border-bottom: 2px solid #d175b6;
}

.event-table th,
td {
  height: 50px;
}

.event-table thead th,
.event-table thead td {
  font-weight: 400;
  font-size: 20px;
  background-color: #d175b6;
  border: none;
}

.event-table tbody th {
  font-weight: 400;
  font-size: 16px;
}

.view-event-cell,
.icon-heading {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-heading {
  gap: 10px;
}

.view-event-cell {
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.table-heading-event-name {
  width: 250px;
  height: 50px;
  margin-left: 90px;
  position: fixed;
}

.position-fixed-heading {
  width: 200px;
  height: 50px;
}

.backdrop-blur {
  width: 200px;
  height: 48px;
  position: fixed;
  backdrop-filter: blur(80px);
}

.border-bottom {
  border-bottom: 2px solid #d175b6;
}

.align-center {
  display: flex;
  align-items: center;
}

.table-data-event-name {
  display: flex;
  width: 200px;
  height: 52px;
  position: fixed;
  border-bottom: 2px solid #d175b6;
  z-index: 1000;
}

.position-fixed-data {
  width: 200px;
  height: 50px;
}

.table-heading-event-start {
  padding-left: 26px;
}
.table-heading-event-end {
  padding-left: 16px;
}
/*
.table-heading-client-name {
}*/
.table-heading-contact-info {
  padding-left: 26px;
}
.table-heading-venue {
  padding-left: 36px;
}
.table-heading-city {
  width: 140px;
  padding-left: 46px;
}
.table-heading-state {
  width: 140px;
  padding-left: 46px;
}
.table-heading-zipcode {
  width: 140px;
  padding-left: 46px;
}

.table-data-event-start {
  padding-left: 26px;
}
.table-data-event-end {
  padding-left: 36px;
}
.table-data-client-name {
  padding-left: 20px;
}
.table-data-contact-info {
  padding-left: 26px;
}
.table-data-venue {
  padding-left: 36px;
}
.table-data-city {
  padding-left: 56px;
}
.table-data-state {
  padding-left: 56px;
}
.table-data-zipcode {
  padding-left: 72px;
}
